<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans>  
<bean id="helloWordImpl" class="com.test.hessian.HelloWordImpl" />  
<bean name="/aaa"  class="org.springframework.remoting.caucho.HessianServiceExporter">  
        <property name="service" ref="helloWordImpl" />  
        <property name="serviceInterface" value="com.test.hessian.HessianTransApplInfo" />     
</bean>  
</beans> 